.all {
    display: flex;
    flex-direction: column;
}

.today {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockdifferent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 3vw;
}

.text {
    width: fit-content;
}