.all {
    display: flex;
    flex-direction: column;
}

.today {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockdifferent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 3vw;
}

.text {
    width: fit-content;
    color: rgba(255,255,255,0.4);
}
  
.title {
    color: rgba(255,255,255,0.8);
}

.picker {
    color: rgba(255, 255, 255, 0.5);
    background-color: black;
    padding: 5px;
    border-color: black;
    font-size: 16px;
}

.option {
    padding: 10px;
}